@import '@/styles/variables';

.header {
  background: $primary-color;
  color: white;
  padding: $spacing * 1.5 0;
  margin-bottom: $spacing * 2;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing;
}
